.container {
  padding-top: 1.2rem;
  display: flex;
}

.greenButton {
  background-color: #2DA323;
  width: 9rem;
  margin-right: 0.5rem;
}

.greenButton:hover {
  background-color: #175111;
}

.grayButton {
  background-color: #C1C1C1;
  width: 9rem;
  margin-right: 0.5rem;
}

.grayButton:hover {
  background-color: #767474;
}

.isChoseText {
  color: white;
}
