.container {
  padding-top: 1.2rem;
  display: flex;
}

.greenButton {
  background-color: #6E701F;
  margin-right: 0.5rem;
}

.greenButton:hover {
  background-color: #53551a;
}

.grayButton {
  background-color: #C1C1C1;
  margin-right: 0.5rem;
}

.grayButton:hover {
  background-color: #767474;
}

.isChoseText {
  color: white;
}
