.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.centerContainer {
  width: 500px;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  color: #6E701F;
  margin-bottom: 3rem;
}

.passwordInput {
  width: 100%;
  margin-bottom: 1.75rem;
}

.button {
  background-color: #2C55E7;
}

.button:hover {
  background-color: #182f80;
}
